h1{
    color: aqua;
    display: inline-block;
}

#HE{
    color: brown;
    display: inline-block;
}
.image{
display: inline-block;
}

.image > img{
    height: 10;
    width: 100%;
}

.p{
    display: inline-block;
}