h1{
    color: aqua;
    display: inline-block;
}

#HE{
    color: brown;
    display: inline-block;
}
.image{
display: inline-block;
}

.image > img{
        size: 20px;
        max-width: 100%;
        width: 25%;
        height: auto;
      
}

p{
    display: inline-block;
}

.review {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: If you want to center horizontally as well */
  }
  
  .review h2 {
    text-align: center;
    font:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.carousel-container {
    max-width: 1450px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Added "px" after 30 */
    border-radius: 15px;
  }
  .carousel-inner {
    padding: 30px; /* Add padding to the content (image) */
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add border-radius to the image */
  }

  body {
    background-color: #f8f8f8;
    color: #333;
}

/* Dark mode styles */
 body.dark-mode {
    background-color: #1c1c1c;
    color: #fff;
}

#typing-text {
  color: #ffffff; /* Text color in light mode */
}
footer {
  background-color: #f8f8f8; /* Footer background color in light mode */
  color: #333; /* Footer text color in light mode */
  transition: background-color 0.5s, color 0.5s; /* Add a smooth transition effect */
}

body.dark-mode footer {
  background-color: #1c1c1c; /* Footer background color in dark mode */
  color: #fff; /* Footer text color in dark mode */
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Footer nav link styles */
footer li {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s; /* Add a smooth transition effect */
}

body.dark-mode footer li {
  color: #ffffff; /* Link color in dark mode */
}

body.dark-mode footer a:hover {
  text-decoration: underline;
}

  